In [ ]:
# daniel_luft-martinez_1.ipynb

In [ ]:
## basic first look at raw primary data scource

In [1]:
import pandas as pd
import numpy as np

In [2]:
address = pd.read_csv("panama_papers.nodes.address.csv")
address.head()

,node_id,name,address,country_codes,countries,sourceID,valid_until,note
0,14000001,NaN,-\t27 ROSEWOOD DRIVE #16-19 SINGAPORE 737920,SGP,Singapore,Panama Papers,The Panama Papers data is current through 2015,NaN
1,14000002,NaN,"""Almaly Village"" v.5, Almaty Kazakhstan",KAZ,Kazakhstan,Panama Papers,The Panama Papers data is current through 2015,NaN
2,14000003,NaN,"""Cantonia"" South Road St Georges Hill Weybridg...",GBR,United Kingdom,Panama Papers,The Panama Papers data is current through 2015,NaN
3,14000004,NaN,"""CAY-OS"" NEW ROAD; ST.SAMPSON; GUERNSEY; CHANN...",GGY,Guernsey,Panama Papers,The Panama Papers data is current through 2015,NaN
4,14000005,NaN,"""Chirag"" Plot No 652; Mwamba Road; Kizingo; Mo...",KEN,Kenya,Panama Papers,The Panama Papers data is current through 2015,NaN

In [3]:
address['address'] = address['address'].map(lambda x: str(x).replace("\"","").replace("\'",""))

In [4]:
address.head()

,node_id,name,address,country_codes,countries,sourceID,valid_until,note
0,14000001,NaN,-\t27 ROSEWOOD DRIVE #16-19 SINGAPORE 737920,SGP,Singapore,Panama Papers,The Panama Papers data is current through 2015,NaN
1,14000002,NaN,"Almaly Village v.5, Almaty Kazakhstan",KAZ,Kazakhstan,Panama Papers,The Panama Papers data is current through 2015,NaN
2,14000003,NaN,"Cantonia South Road St Georges Hill Weybridge,...",GBR,United Kingdom,Panama Papers,The Panama Papers data is current through 2015,NaN
3,14000004,NaN,CAY-OS NEW ROAD; ST.SAMPSON; GUERNSEY; CHANNEL...,GGY,Guernsey,Panama Papers,The Panama Papers data is current through 2015,NaN
4,14000005,NaN,Chirag Plot No 652; Mwamba Road; Kizingo; Momb...,KEN,Kenya,Panama Papers,The Panama Papers data is current through 2015,NaN

In [5]:
address.to_csv("address.csv")

In [6]:
officer = pd.read_csv("panama_papers.nodes.officer.csv")
officer.head()

,node_id,name,country_codes,countries,sourceID,valid_until,note
0,12000001,KIM SOO IN,KOR,South Korea,Panama Papers,The Panama Papers data is current through 2015,NaN
1,12000002,Tian Yuan,CHN,China,Panama Papers,The Panama Papers data is current through 2015,NaN
2,12000003,GREGORY JOHN SOLOMON,AUS,Australia,Panama Papers,The Panama Papers data is current through 2015,NaN
3,12000004,MATSUDA MASUMI,JPN,Japan,Panama Papers,The Panama Papers data is current through 2015,NaN
4,12000005,HO THUY NGA,VNM,Viet Nam,Panama Papers,The Panama Papers data is current through 2015,NaN

In [7]:
officer.to_csv("officer.csv")

In [8]:
intermediary = pd.read_csv("panama_papers.nodes.intermediary.csv")
print(intermediary.head())
intermediary.to_csv("intermediary.csv")

    node_id                        name country_codes      countries  \
0  11000001     MICHAEL PAPAGEORGE, MR.           ZAF   South Africa
1  11000002          CORFIDUCIA ANSTALT           LIE  Liechtenstein
2  11000003               DAVID, RONALD           MCO         Monaco
3  11000004  DE  BOUTSELIS, JEAN-PIERRE           BEL        Belgium
4  11000005    THE LEVANT LAWYERS (TLL)           LBN        Lebanon

      status       sourceID                                      valid_until  \
0     ACTIVE  Panama Papers  The Panama Papers  data is current through 2015
1     ACTIVE  Panama Papers  The Panama Papers  data is current through 2015
2  SUSPENDED  Panama Papers  The Panama Papers  data is current through 2015
3  SUSPENDED  Panama Papers  The Panama Papers  data is current through 2015
4     ACTIVE  Panama Papers  The Panama Papers  data is current through 2015

  note
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [9]:
entity = pd.read_csv("panama_papers.nodes.entity.csv")
print(entity.head())
entity.to_csv("entity.csv")

C:\Users\Daniel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    node_id                                         name jurisdiction  \
0  10000001     TIANSHENG INDUSTRY AND TRADING CO., LTD.          SAM
1  10000002  NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.          SAM
2  10000003                           HOTFOCUS CO., LTD.          SAM
3  10000004              SKY-BLUE GIFTS & TOYS CO., LTD.          SAM
4  10000005         FORTUNEMAKER INVESTMENTS CORPORATION          SAM

  jurisdiction_description country_codes  countries incorporation_date  \
0                    Samoa           HKG  Hong Kong        23-MAR-2006
1                    Samoa           HKG  Hong Kong        27-MAR-2006
2                    Samoa           HKG  Hong Kong        10-JAN-2006
3                    Samoa           HKG  Hong Kong        06-JAN-2006
4                    Samoa           HKG  Hong Kong        19-APR-2006

  inactivation_date struck_off_date  closed_date  ibcRUC         status  \
0       18-FEB-2013     15-FEB-2013          NaN   25221      Defaulted
1       27-FEB-2014     15-FEB-2014          NaN   25249      Defaulted
2       15-FEB-2012     15-FEB-2012          NaN   24138      Defaulted
3       16-FEB-2009     15-FEB-2009          NaN   24012      Defaulted
4       15-MAY-2009     15-FEB-2008          NaN  R25638  Changed agent

   company_type service_provider       sourceID  \
0           NaN  Mossack Fonseca  Panama Papers
1           NaN  Mossack Fonseca  Panama Papers
2           NaN  Mossack Fonseca  Panama Papers
3           NaN  Mossack Fonseca  Panama Papers
4           NaN  Mossack Fonseca  Panama Papers

                                      valid_until note
0  The Panama Papers data is current through 2015  NaN
1  The Panama Papers data is current through 2015  NaN
2  The Panama Papers data is current through 2015  NaN
3  The Panama Papers data is current through 2015  NaN
4  The Panama Papers data is current through 2015  NaN

In [10]:
edges = pd.read_csv("panama_papers.edges.csv")
print(edges)
edges.to_csv("edges.csv")

C:\Users\Daniel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        START_ID                TYPE    END_ID  \
0       10000035  registered_address  14095990
1       10000044  registered_address  14091035
2       10000055  registered_address  14095990
3       10000064  registered_address  14091429
4       10000089  registered_address  14098253
5       10000091  registered_address  14091429
6       10000098  registered_address  14099188
7       10000105  registered_address  14095990
8       10000109  registered_address  14091429
9       10000297  registered_address  14095271
10      10000464  registered_address  14099155
11      10000507  registered_address  14094124
12      10000580  registered_address  14097397
13      10000581  registered_address  14092297
14      10000584  registered_address  14094414
15      10000635  registered_address  14095990
16      10000644  registered_address  14096319
17      10000670  registered_address  14108530
18      10000733  registered_address  14092130
19      10000765  registered_address  14092387
20      10000771  registered_address  14095991
21      10000773  registered_address  14106269
22      10000774  registered_address  14094620
23      10000802  registered_address  14090945
24      10000831  registered_address  14098364
25      10000847  registered_address  14099319
26      10000973  registered_address  14091921
27      10000985  registered_address  14097922
28      10000986  registered_address  14095990
29      10001087  registered_address  14100320
...          ...                 ...       ...
674072  15005002          officer_of  10155352
674073  15005002          officer_of  10162180
674074  15005002          officer_of  10109965
674075  15005003          officer_of  10109965
674076  15005003          officer_of  10162180
674077  15005003          officer_of  10155352
674078  15005004          officer_of  10162180
674079  15005201          officer_of  10166635
674080  15005401          officer_of  10210746
674081  15005401          officer_of  10059412
674082  15005501          officer_of  10195766
674083  15005801          officer_of  10067331
674084  15005901          officer_of  10189895
674085  15005901          officer_of  10189895
674086  15005901          officer_of  10189895
674087  15006301          officer_of  10114434
674088  15006401          officer_of  10081873
674089  15006601          officer_of  10017997
674090  15006701          officer_of  10205215
674091  15006801          officer_of  10038530
674092  15006801          officer_of  10160636
674093  15006801          officer_of  10018125
674094  15006801          officer_of  10014683
674095  15007201          officer_of  10141675
674096  15007201          officer_of  10124243
674097  15007201          officer_of  10138472
674098  15007202          officer_of  10143427
674099  15007202          officer_of  10142797
674100  15007202          officer_of  10121515
674101  15007401          officer_of  10021287

                                             link start_date end_date  \
0                              registered address        NaN      NaN
1                              registered address        NaN      NaN
2                              registered address        NaN      NaN
3                              registered address        NaN      NaN
4                              registered address        NaN      NaN
5                              registered address        NaN      NaN
6                              registered address        NaN      NaN
7                              registered address        NaN      NaN
8                              registered address        NaN      NaN
9                              registered address        NaN      NaN
10                             registered address        NaN      NaN
11                             registered address        NaN      NaN
12                             registered address        NaN      NaN
13                             registered address        NaN      NaN
14                             registered address        NaN      NaN
15                             registered address        NaN      NaN
16                             registered address        NaN      NaN
17                             registered address        NaN      NaN
18                             registered address        NaN      NaN
19                             registered address        NaN      NaN
20                             registered address        NaN      NaN
21                             registered address        NaN      NaN
22                             registered address        NaN      NaN
23                             registered address        NaN      NaN
24                             registered address        NaN      NaN
25                             registered address        NaN      NaN
26                             registered address        NaN      NaN
27                             registered address        NaN      NaN
28                             registered address        NaN      NaN
29                             registered address        NaN      NaN
...                                           ...        ...      ...
674072   beneficiary, shareholder and director of        NaN      NaN
674073   beneficiary, shareholder and director of        NaN      NaN
674074   beneficiary, shareholder and director of        NaN      NaN
674075   beneficiary, shareholder and director of        NaN      NaN
674076   beneficiary, shareholder and director of        NaN      NaN
674077   beneficiary, shareholder and director of        NaN      NaN
674078                             beneficiary of        NaN      NaN
674079                        beneficial owner of        NaN      NaN
674080                        sole shareholder of        NaN      NaN
674081                               connected of        NaN      NaN
674082                        beneficial owner of        NaN      NaN
674083                                   owner of        NaN      NaN
674084                        sole shareholder of        NaN      NaN
674085                                director of        NaN      NaN
674086                       power of attorney of        NaN      NaN
674087                       power of attorney of        NaN      NaN
674088                       power of attorney of        NaN      NaN
674089                       power of attorney of        NaN      NaN
674090                       power of attorney of        NaN      NaN
674091                               connected of        NaN      NaN
674092                       first beneficiary of        NaN      NaN
674093  shareholder (through julex foundation) of        NaN      NaN
674094                               connected of        NaN      NaN
674095                                   owner of        NaN      NaN
674096                                   owner of        NaN      NaN
674097                                   owner of        NaN      NaN
674098                                   owner of        NaN      NaN
674099                                   owner of        NaN      NaN
674100                                   owner of        NaN      NaN
674101                                   owner of        NaN      NaN

             sourceID                                      valid_until
0       Panama Papers                                              NaN
1       Panama Papers                                              NaN
2       Panama Papers                                              NaN
3       Panama Papers                                              NaN
4       Panama Papers                                              NaN
5       Panama Papers                                              NaN
6       Panama Papers                                              NaN
7       Panama Papers                                              NaN
8       Panama Papers                                              NaN
9       Panama Papers                                              NaN
10      Panama Papers                                              NaN
11      Panama Papers                                              NaN
12      Panama Papers                                              NaN
13      Panama Papers                                              NaN
14      Panama Papers                                              NaN
15      Panama Papers                                              NaN
16      Panama Papers                                              NaN
17      Panama Papers                                              NaN
18      Panama Papers                                              NaN
19      Panama Papers                                              NaN
20      Panama Papers                                              NaN
21      Panama Papers                                              NaN
22      Panama Papers                                              NaN
23      Panama Papers                                              NaN
24      Panama Papers                                              NaN
25      Panama Papers                                              NaN
26      Panama Papers                                              NaN
27      Panama Papers                                              NaN
28      Panama Papers                                              NaN
29      Panama Papers                                              NaN
...               ...                                              ...
674072  Panama Papers  The Panama Papers  data is current through 2015
674073  Panama Papers  The Panama Papers  data is current through 2015
674074  Panama Papers  The Panama Papers  data is current through 2015
674075  Panama Papers  The Panama Papers  data is current through 2015
674076  Panama Papers  The Panama Papers  data is current through 2015
674077  Panama Papers  The Panama Papers  data is current through 2015
674078  Panama Papers  The Panama Papers  data is current through 2015
674079  Panama Papers  The Panama Papers  data is current through 2015
674080  Panama Papers  The Panama Papers  data is current through 2015
674081  Panama Papers  The Panama Papers  data is current through 2015
674082  Panama Papers  The Panama Papers  data is current through 2015
674083  Panama Papers  The Panama Papers  data is current through 2015
674084  Panama Papers  The Panama Papers  data is current through 2015
674085  Panama Papers  The Panama Papers  data is current through 2015
674086  Panama Papers  The Panama Papers  data is current through 2015
674087  Panama Papers  The Panama Papers  data is current through 2015
674088  Panama Papers  The Panama Papers  data is current through 2015
674089  Panama Papers  The Panama Papers  data is current through 2015
674090  Panama Papers  The Panama Papers  data is current through 2015
674091  Panama Papers  The Panama Papers  data is current through 2015
674092  Panama Papers  The Panama Papers  data is current through 2015
674093  Panama Papers  The Panama Papers  data is current through 2015
674094  Panama Papers  The Panama Papers  data is current through 2015
674095  Panama Papers  The Panama Papers  data is current through 2015
674096  Panama Papers  The Panama Papers  data is current through 2015
674097  Panama Papers  The Panama Papers  data is current through 2015
674098  Panama Papers  The Panama Papers  data is current through 2015
674099  Panama Papers  The Panama Papers  data is current through 2015
674100  Panama Papers  The Panama Papers  data is current through 2015
674101  Panama Papers  The Panama Papers  data is current through 2015

[674102 rows x 8 columns]

In [11]:
print(address.head())
print(entity.head())
print(intermediary.head())
print(officer.head())
print(edges.head())

    node_id  name                                            address  \
0  14000001   NaN       -\t27 ROSEWOOD DRIVE #16-19 SINGAPORE 737920
1  14000002   NaN              Almaly Village v.5, Almaty Kazakhstan
2  14000003   NaN  Cantonia South Road St Georges Hill Weybridge,...
3  14000004   NaN  CAY-OS NEW ROAD; ST.SAMPSON; GUERNSEY; CHANNEL...
4  14000005   NaN  Chirag Plot No 652; Mwamba Road; Kizingo; Momb...

  country_codes       countries       sourceID  \
0           SGP       Singapore  Panama Papers
1           KAZ      Kazakhstan  Panama Papers
2           GBR  United Kingdom  Panama Papers
3           GGY        Guernsey  Panama Papers
4           KEN           Kenya  Panama Papers

                                       valid_until  note
0  The Panama Papers  data is current through 2015   NaN
1  The Panama Papers  data is current through 2015   NaN
2  The Panama Papers  data is current through 2015   NaN
3  The Panama Papers  data is current through 2015   NaN
4  The Panama Papers  data is current through 2015   NaN
    node_id                                         name jurisdiction  \
0  10000001     TIANSHENG INDUSTRY AND TRADING CO., LTD.          SAM
1  10000002  NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.          SAM
2  10000003                           HOTFOCUS CO., LTD.          SAM
3  10000004              SKY-BLUE GIFTS & TOYS CO., LTD.          SAM
4  10000005         FORTUNEMAKER INVESTMENTS CORPORATION          SAM

  jurisdiction_description country_codes  countries incorporation_date  \
0                    Samoa           HKG  Hong Kong        23-MAR-2006
1                    Samoa           HKG  Hong Kong        27-MAR-2006
2                    Samoa           HKG  Hong Kong        10-JAN-2006
3                    Samoa           HKG  Hong Kong        06-JAN-2006
4                    Samoa           HKG  Hong Kong        19-APR-2006

  inactivation_date struck_off_date  closed_date  ibcRUC         status  \
0       18-FEB-2013     15-FEB-2013          NaN   25221      Defaulted
1       27-FEB-2014     15-FEB-2014          NaN   25249      Defaulted
2       15-FEB-2012     15-FEB-2012          NaN   24138      Defaulted
3       16-FEB-2009     15-FEB-2009          NaN   24012      Defaulted
4       15-MAY-2009     15-FEB-2008          NaN  R25638  Changed agent

   company_type service_provider       sourceID  \
0           NaN  Mossack Fonseca  Panama Papers
1           NaN  Mossack Fonseca  Panama Papers
2           NaN  Mossack Fonseca  Panama Papers
3           NaN  Mossack Fonseca  Panama Papers
4           NaN  Mossack Fonseca  Panama Papers

                                      valid_until note
0  The Panama Papers data is current through 2015  NaN
1  The Panama Papers data is current through 2015  NaN
2  The Panama Papers data is current through 2015  NaN
3  The Panama Papers data is current through 2015  NaN
4  The Panama Papers data is current through 2015  NaN
    node_id                        name country_codes      countries  \
0  11000001     MICHAEL PAPAGEORGE, MR.           ZAF   South Africa
1  11000002          CORFIDUCIA ANSTALT           LIE  Liechtenstein
2  11000003               DAVID, RONALD           MCO         Monaco
3  11000004  DE  BOUTSELIS, JEAN-PIERRE           BEL        Belgium
4  11000005    THE LEVANT LAWYERS (TLL)           LBN        Lebanon

      status       sourceID                                      valid_until  \
0     ACTIVE  Panama Papers  The Panama Papers  data is current through 2015
1     ACTIVE  Panama Papers  The Panama Papers  data is current through 2015
2  SUSPENDED  Panama Papers  The Panama Papers  data is current through 2015
3  SUSPENDED  Panama Papers  The Panama Papers  data is current through 2015
4     ACTIVE  Panama Papers  The Panama Papers  data is current through 2015

  note
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
    node_id                  name country_codes    countries       sourceID  \
0  12000001            KIM SOO IN           KOR  South Korea  Panama Papers
1  12000002             Tian Yuan           CHN        China  Panama Papers
2  12000003  GREGORY JOHN SOLOMON           AUS    Australia  Panama Papers
3  12000004        MATSUDA MASUMI           JPN        Japan  Panama Papers
4  12000005           HO THUY NGA           VNM     Viet Nam  Panama Papers

                                      valid_until note
0  The Panama Papers data is current through 2015  NaN
1  The Panama Papers data is current through 2015  NaN
2  The Panama Papers data is current through 2015  NaN
3  The Panama Papers data is current through 2015  NaN
4  The Panama Papers data is current through 2015  NaN
   START_ID                TYPE    END_ID                link start_date  \
0  10000035  registered_address  14095990  registered address        NaN
1  10000044  registered_address  14091035  registered address        NaN
2  10000055  registered_address  14095990  registered address        NaN
3  10000064  registered_address  14091429  registered address        NaN
4  10000089  registered_address  14098253  registered address        NaN

  end_date       sourceID valid_until
0      NaN  Panama Papers         NaN
1      NaN  Panama Papers         NaN
2      NaN  Panama Papers         NaN
3      NaN  Panama Papers         NaN
4      NaN  Panama Papers         NaN

In [12]:
print(address.size)
print(entity.size)
print(intermediary.size)
print(officer.size)
print(edges.size)

747632
3631778
112880
1668814
5392816

In [13]:
print(address.shape)
print(entity.shape)
print(intermediary.shape)
print(officer.shape)
print(edges.shape)

(93454, 8)
(213634, 17)
(14110, 8)
(238402, 7)
(674102, 8)